<div class=text-info>
    {{#if Member}}
      <h4>{{Member}}</h4>
    {{/if}}
    {{#unless Member}}
        <h4>{{eventName}} </h4>
    {{/unless}}
  <p>{{Location}}</p>
  <span>{{Time}}</span> on <span>{{Date}}</span> at <a href={{addressLink}} target="_blank">{{address}}</a></span></li>
</div>
